// Для импорта в диспетчер подключений: @import './src/less/blocks/contact.less';


.contact {
  display: inline-block;

  &__list {
    display: inline-block;
    margin: 0 auto;
  }

  &__item {
    list-style-type: none;
  }
}
