// Для импорта в диспетчер подключений: @import './src/less/blocks/skills.less';


.skills {
  display: inline-block;

  &__list {
    display: inline-block;
  }

  &__item {
    display: inline-block;
    width: 30%;
    list-style-type: none;
  }

  &__text {
    // margin-right: 20px;
  }

}
